{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Редактирование данных{% endblock %}
{% block content %}

    <main class="container-fluid">
        <div class="row justify-content-sm-center">
            <form action="" method="post"
                  class="col-md-5 mt-3 shadow-lg p-3 mb-5 bg-white rounded">
                <h2>Редактирование данных</h2>
                {% csrf_token %}
                {% bootstrap_form form layout='vertical' %}
                {% buttons submit='Обновить' %}{% endbuttons %}
            </form>
        </div>
    </main>
{% endblock %}