{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <main class="container-xxl shadow-lg p-0 bg-white rounded-3 mt-3 mb-3" role="main">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in promotions %}
                    {% if forloop.first %}
                        <div class="carousel-item active img-block" data-bs-interval="6000">
                            <img src="{{ i.img.url }}" class="d-block w-100 img-responsive" alt="{{ i.title }}">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="{% url 'promotions' %}#{{ i.id }}" class="btn btn-warning">Подробнее</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item img-block" data-bs-interval="6000">
                            <img src="{{ i.img.url }}" class="d-block w-100 img-responsive" alt="{{ i.title }}">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="{% url 'promotions' %}#{{ i.id }}" class="btn btn-warning">Подробнее</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        {% verbatim %}
        <div id="prod">
            <div class="row pl-3 pr-3 active" v-for="(category, i) in products">
                <h2 class="mt-4 pl-3 pr-3" v-bind:id="categorys[i].name">{{ categorys[i].name }}</h2>
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4" v-for="(product, j) in category">
                    <div class="card h-100 m-0 shadow-lg bg-white rounded">
                        <img :src="product.image" class="ml-3 mt-3 mr-3" :alt="'Продукт: ' + product.name">
                        <div class="card-body pb-0">
                            <h4 class="card-title text-warning font-weight-bold">{{ product.name }}</h4>
                            <p class="card-text text-warning">{{ product.description }}</p>
                        </div>
                        <div class="p-4">
                            <form @submit.prevent="post(product.slug, $event, product.id)">
                                <div class="d-flex justify-content-between mb-3" v-if="categorys[i].name === 'Пицца'">
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 25" name="size"
                                           value="25" checked>
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + '' +  25"
                                           style="width: 33%" v-on:click="newPrice.splice(product.id, 1, product.price)"
                                    >25</label>
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 30" name="size"
                                           value="30">
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + ''  + 30"
                                           style="width: 33%"
                                           v-on:click="newPrice.splice(product.id, 1, product.price2)"
                                    >30</label>
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 35" name="size"
                                           value="35">
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + ''  + 35"
                                           style="width: 33%"
                                           v-on:click="newPrice.splice(product.id, 1, product.price3)"
                                    >35</label>
                                </div>
                                <div class="d-flex justify-content-between mb-3" v-if="categorys[i].name === 'Закуски'">
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 25" name="size"
                                           value="Малая" checked>
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + '' +  25"
                                           style="width: 33%" v-on:click="newPrice.splice(product.id, 1, product.price)"
                                    >Малая</label>
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 30" name="size"
                                           value="Средняя">
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + ''  + 30"
                                           style="width: 33%"
                                           v-on:click="newPrice.splice(product.id, 1, product.price2)"
                                    >Средняя</label>
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 35" name="size"
                                           value="Большая">
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + ''  + 35"
                                           style="width: 33%"
                                           v-on:click="newPrice.splice(product.id, 1, product.price3)"
                                    >Большая</label>
                                </div>
                                <div class="d-flex justify-content-between mb-3" v-if="categorys[i].name === 'Напитки'">
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 25" name="size"
                                           value="0.33 л." checked>
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + '' +  25"
                                           style="width: 33%" v-on:click="newPrice.splice(product.id, 1, product.price)"
                                    >0.33 л.</label>
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 30" name="size"
                                           value="0.5 л.">
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + ''  + 30"
                                           style="width: 33%"
                                           v-on:click="newPrice.splice(product.id, 1, product.price2)"
                                    >0.5 л.</label>
                                    <input type="radio" class="btn-check" :id="product.id + ''  + 35" name="size"
                                           value="1.0 л.">
                                    <label class="btn btn-outline-info p-0 mr-0" :for="product.id + ''  + 35"
                                           style="width: 33%"
                                           v-on:click="newPrice.splice(product.id, 1, product.price3)"
                                    >1.0 л.</label>
                                </div>
                                <button type="submit" class="btn btn-info">Выбрать</button>
                                <span class="text-danger">{{ newPrice[product.id] }}руб.</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endverbatim %}

    </main>

{% endblock content %}